@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }

  * {
    border-color: theme('colors.slate.200');
  }

  body {
    @apply bg-slate-50 text-slate-900;
  }
}